<footer>
  <div class="footer-content">
    <p>Follow Us</p>
    <ul class="social-links">
      <li>
        <a href="#" target="_blank"
          ><i class="fab fa-facebook-f"></i> Facebook</a
        >
      </li>
      <li>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
      </li>
      <li>
        <a href="#" target="_blank"
          ><i class="fab fa-instagram"></i> Instagram</a
        >
      </li>
      <li>
        <a href="#" target="_blank"
          ><i class="fab fa-linkedin-in"></i> LinkedIn</a
        >
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; Quize App. Push yourself to the limit</p>
  </div>
</footer>
